/* Ex1
*/
#first_id {
    color: red;
}

#Second_id {
    color: red;
}

/*Ex2
*/
#n {
    background-color: #00FF00;
}

#_blank {
    color: yellow;
}
/*Ex7
*/
ul li {
    font-weight: 1000;
}

/*Ex9
*/
.item > span {
    font-size: 18px;
}
.item div span{
    font-style: italic;
}




