@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background: grey;
    line-height: 22px;
    font-size: 14px;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
.container-fluid{
    max-width: 100%;
    padding: 0 15px;
}
.container{
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.bold{
    font-weight: 700;
    font-size:  20px;
    text-transform: uppercase;
}
.semi_bold{
    font-weight: 1000;
    font-size: 16px;
}


.cv{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
    font-weight: bolder;
}
.left{
    background: indianred;
    width: 35%;
}
.cv .left .ava {
    width: 100%;
    height: auto;
}
.cv .left .profile{
    padding: 15px 15px;
}
.left .title{
    margin-bottom: 10px;
}
.cv .bold{
    color: white;
}
.pr .title p{
    color: white;
}
.cv .pr {
    padding: 25px 0;
    border-bottom: 2px solid white;
}
.cv .left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.cv .left ul li .icon{
    width: 35px;
    height: 35px;
    background:white;
    color: cyan;
    border-radius: 100%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.cv .icon i{
    position: absolute;
    top: 30%;
    left: 35%;
}
.cv .left ul li .inf{
    color: white;
}
.cv .left .skill ul li {
    color: #fff;
    justify-content: space-between;
}
.cv .left .skill ul li .skill_name{
    width: 20%;
}
.cv .left .skill ul li .progress{
    width: 50%;
    margin: 0 5px;
    height: 5px;
    background: blue;
    position: relative;
}
.cv .left .skill ul li .percent{
    width: 10%;
}
.cv .left .skill ul li .progress span{
    position: absolute;
    height: 100%;
    background: #fff;
}

.cv .right{
    width: 520px;
    background: #fff;
    padding: 25px;
}
.cv .right p{
    font-weight: lighter;
}
.cv .right .semi_bold{
    font-weight: bolder;
}
.cv .right .title{
    font-weight: bolder;
}
.cv .right .bold{
    color: #0bb5f4;
}
.cv .right .exp ul,
.cv .right .education ul{
    padding-left: 40px;
}
.cv .right ul li{
    position: relative;
}
.cv .right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.cv .right ul li .description{
    margin-bottom: 20px;
}
.cv .right ul li:last-child .description{
    margin-bottom: 0;
}
.right .title{
    margin-bottom: 10px;
}
.cv .right .hobby ul {
    display: flex;
    justify-content: space-between;
}
.cv .right .hobby ul li {
    width: 60px;
    height: 60px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    top: 20px;
    position: relative;
    color: #0bb5f4;   
}
.cv .right .hobby ul li i {
    font-size: 30px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}