html {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
}

p {
    background-color: red;
}

#first_h1 {
    text-decoration: underline;
}

#second_h1 {
    text-align: center;
}

.italic {
    font-style: italic;
}

.white {
    color: #ffffff;
}

[href] {
    font-size: 1rem; /* rem, em */
}

[type="password"]{
    border: solid;
}

nav a {
    text-decoration: line-through;
}

nav > a {
    font-weight: bold;
}

span a {
    text-decoration: underline;
}

button:active {
    background-color: greenyellow;
}

input:focus {
    border: black solid 4px;
}

img {
    width: 70%;
}

img:hover {
    border: gray 4px solid;
}

#banner {
    height: 30rem;
    background-image: url(https://image.shutterstock.com/image-photo/mountains-during-sunset-beautiful-natural-260nw-407021107.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}